body, button {
  font-family: "Poppins", sans-serif;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  background: blue;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.library {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.library .item {
  border: 1px solid blue;
  border-radius: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.library .item p {
  margin: 4px;
}

.item img, .item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: auto;
}